<div class="complete-product-form">
  <form class="product-form"
    [formGroup]="myForm"
    (ngSubmit)="onSubmit(myForm.value)">
    <h2>Add a New Product</h2>

    <div class="product-form-field">
      <label for="product-sku">SKU</label>
      <input type="text" name="sku" id="product-sku"
             [formControl]="myForm.get('sku')"/>
      <div class="validation">
        <span class="error" *ngIf="myForm.get('sku').hasError('required')"><em>SKU cannot be empty</em></span>
        <span class="error" *ngIf="myForm.get('sku').hasError('start_with_sku')"><em>SKU must start with <strong>"sku_"</strong></em></span>
      </div>
    </div>

    <div class="product-form-field">
      <label for="product-name">Title</label>
      <input type="text" name="name" id="product-name"
             [formControl]="myForm.get('name')"/>
      <div class="validation">
        <span class="error" *ngIf="myForm.get('name').hasError('required')"><em>Title cannot be empty</em></span>
      </div>
    </div>

    <div class="product-form-field">
      <label for="product-departments">Departments</label>
      <div>
        <small class="guideline">Departments saperated by comas</small>
      </div>
      <input type="text" name="departments" id="product-departments"
             [formControl]="myForm.get('departments')"/>
      <div class="validation">
        <span class="error" *ngIf="myForm.get('departments').hasError('required')"><em>Departments cannot be empty</em></span>
      </div>
    </div>

    <div class="product-form-field">
      <label for="product-price">Price</label>
      <input type="number" name="price" id="product-price"
             [formControl]="myForm.get('price')"/>
    </div>

    <button type="submit" class="primary">Add</button>
  </form>
  <div class="product-detail">
    <h2>New Product Review</h2>

    <product [product]="product"></product>
  </div>
</div>
