<form class="product-form"
  [formGroup]="myForm"
  (ngSubmit)="onSubmit(myForm.value)">
  <h2>Product Form</h2>

  <div class="product-form-field">
    <label for="product-sku">SKU</label>
    <input type="text" name="sku" id="product-sku"
           [formControl]="myForm.get('sku')"/>
  </div>

  <div class="product-form-field">
    <label for="product-name">Title</label>
    <input type="text" name="name" id="product-name"
           [formControl]="myForm.get('name')"/>
  </div>

  <div class="product-form-field">
    <label for="product-departments">Departments</label>
    <input type="text" name="departments" id="product-departments"
           [formControl]="myForm.get('departments')"/>
    <div>
      <small class="guideline">Departments saperated by comas</small>
    </div>
  </div>

  <div class="product-form-field">
    <label for="product-price">Price</label>
    <input type="number" name="price" id="product-price"
           [formControl]="myForm.get('price')"/>
  </div>

  <button type="submit" class="primary">Create New Product</button>
</form>
