<form>
  <header>
    <h3>Post An Article</h3>
  </header>
  <div>
    <!--

      We use # (hash) here to tell Angular to assign those tags to local variables
      E.g. By adding # to the appropriate input elements we can pass them as variables to the postAnArticle function
      This syntax is called resolve. This makes newTitle or newUrl now objects (of type HTMLInputElement) representing the input elements
      And, becuase they're objects so that to get the value we access property value of each of the objects

    -->
    <div>
      <label for="title">Title</label>
      <input name="title" #newTitle>
    </div>
    <div>
      <label for="url">URL</label>
      <input name="url" #newUrl>
    </div>
  </div>
  <footer>
    <!--

      We tell Angular we wanna respond to an event by surrounding the event name in parenthesis
      E.g. (click): we tell Angular that we wanna respond to the click event of the button element
                    So, whenever a button is clicked, postAnArticle function will be invoked. Notice that
                    postAnArticle function is a method of the component (here's SimpleRedditCloneComponent)

    -->
    <button (click)="postAnArticle(newTitle, newUrl)">Post</button>
  </footer>
</form>
<app-article></app-article>
